.centro {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

.conteudo img{
    height: 200px;
    width: 200px;
    position: absolute;
    animation: animation 4s linear;
}

@keyframes animation {
    0%{height: 200px; width: 200px;}
    100%{right: 500px; top: -200px; height: 70px; width: 70px;}
}
