.body a {
    position: absolute;
    top: 0;
    left: 0;
}
.centro {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.quadrado1 {
    height: 150px;
    width: 150px;
    background-color: rgb(250, 106, 255);
    position: relative;
    margin: 100px;
    animation: animation 3s infinite linear;
}

.quadrado2 {
    height: 150px;
    width: 150px;
    background-color: rgb(247, 250, 82);
    position: relative;
    margin: 100px;
    animation: animation 3s infinite linear;
    animation-delay: 2s;
}

.quadrado3 {
    height: 150px;
    width: 150px;
    background-color: rgb(66, 217, 255);
    position: relative;
    margin: 100px;
    animation: animation 3s infinite linear;
    animation-delay: 4s;
}

@keyframes animation {
    0% {
        top: 0px;
    }
    25% {
        top: -100px;
    }
    50% {
        top: 0px;
    }
    75% {
        top: 100px;
    }
    100% {
        top: 0px;
    }
}