.centro {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

.quadrado {
    height: 200px;
    width: 200px;
    background-color: rgb(231, 89, 160);
    position: relative;
    animation: animation 5s linear;
}

@keyframes animation {
    0% {height: 0px; width: 0px;}
    50% {background-color: rgb(98, 189, 169);}
    100% {background-color: rgb(207, 114, 219);}
}