.body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centro {
    height: 100px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.centro form{
    text-align: center;
}

.login {
    height: 150px;
    width: 200px;
    background-color: rgb(251, 197, 255);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: animation 6s;
}

@keyframes animation {
    from { 
        top: -400px
    }
}
